.container{
    width:90%;
    height: 600px;
}

.section1{
    width:0%;
    height: 50px;
    background-color:white;
    margin-bottom: 4px;
}

.section1 img{
    height: 100%;
}

.section2{
    width:350px;
    height: 50px;
    background-color:blue;
    margin-bottom: 4px;
}