.section1{
    width:350px;
    height: 50px;
    background-color:red;
    margin-bottom: 4px;
}

.section1 img{
    width:600px;
    height: 50px;
}

.section2{
    width:350px;
    height: 50px;
    background-color:blue;
    margin-bottom: 4px;
}