*
{
	font-family: 'Lato', sans-serif;
}

.section1{
    background-color: #FFF;
    height: 50px;
    width:0%;
}

.section1 span
{
	opacity:0;
	font-weight:bold;
	color:white;
	position:relative;
	float:right;
	padding:10px;
	top:5px;
}

.section2 
{
	width:100px;
	height:100px;
	position:relative;
	display:block;
	margin-bottom:10px;
	text-align:center;
	background-color:#F38630;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.section2 span
{
	color:white;
	font-weight:bold;
	position:relative;
	top:40px;
}

.boxcontainer
{
	height:220px;
	width:220px;
	float:left;
	position:relative;
}

.boxcontainer .section3
{
	width:100px;
	height:100px;
	display:block;
	margin-right:10px;
	margin-bottom:10px;
	position:relative;
	float:left;
	text-align:center;
}

.boxcontainer .box1
{
	background-color:#E8487F;
}

.boxcontainer .box2
{
	background-color:#19376A;
}

.boxcontainer .box3
{
	background-color:#94DAF0;
}

.boxcontainer .box4
{
	background-color:#01B6AD;
}

.boxcontainer .section3 span
{
	color:white;
	position:relative;
	top:40px;
	font-weight:bold;
}