/* Put your css in here */

.contents {
    padding: 25px 20px;
    width: 600px;
}

.clear {
    clear: both;
}

.details{
    padding: 25px 20px;
    margin-top: 40px;
}

.details h2{
    color:darkcyan;
}

.details a{
    text-decoration: none;
    color:maroon;
}

.details a:hover{
    color:white;
    background-color: maroon;
}

/* graphs example */
.bar {
    width: 10%;
    height: 350px;
    position: relative;
    float: left;
}

.bar .percentage {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 0%;
    background-color: #000;
}

.bar .number {
    z-index: 2;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #2d6987;
    font-size: 24px;
    font-weight: bold;
}