.myBanner{
    width:300px;
    height: 250px;
    background-color: #000;
    position: relative;
}


.step{
    width:100%;
    position: absolute;
    top:0;
    left:0;
}

.step1{
    color:#f2f2f2;
    text-align: center;
    padding-top: 100px;
    font-size: 24px;
}

.step2{
    opacity:0;
    z-index: 2;
    text-align: center;
    padding-top: 100px;
    font-size: 24px;
}

.org{
    color:orange;
}

.initzero .onebyone{
    width:0px;
    float: left;
    overflow: hidden;
}

.initzero, .org{
    float: left;
}
